<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #e8eff5; 
            color: #495057; 
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 4rem;
            background-color: #fae9e3; 
            color: darkgrey;
            border: none;
            border-radius: 20px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        h1 {
            color: #4794e6; 
            font-size: 2rem;
            text-align: center;
            margin-bottom: 2rem;
        }
        h2 {; 
            font-size: 1.7rem;
            text-align: end;
            margin: 5% 20% 5% 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        th {
            background-color: #4794e6; 
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .purchase-button, .go-back-button {
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 12px;
        }

        .purchase-button {
            background-color: #3cb371; 
            color: #fff; /* Texto blanco */
            margin-right: 10px;
        }

        .purchase-button:hover {
            background-color: #3cb371; 
        }

        .go-back-button {
            background-color: #eee0b9; 
            color: #495057; 
        }
        
        .go-back-button:hover {
            background-color: #eee0b9; 
        }

        .removeProductButton {
            background-color: #FF6961; 
            color: #fff; 
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
        }

        .removeProductButton:hover {
            background-color: #dc3545; 
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Shopping Cart for {{user.first_name}}</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Actions</th>
            </tr>
            {{#each cart.products}}
            <tr>
                <td>
                    <a href="/api/products/{{this.pid._id}}" class="card-title">{{this.pid.title}}</a>
                </td>
                <td>${{this.pid.price}}</td>
                <td>{{this.pid.stock}}</td>
                <td>{{this.quantity}}</td>
                <td>${{this.subTotal}}</td>
                <td>
                    <button type="submit" class="btn btn-danger removeProductButton" cart-id={{@root.cart._id}}
                        data-product-id={{this.pid._id}}>Remove</button>
                </td>
            </tr>
            {{/each}}
        </table>
        <h2>Total: ${{totalCompra}}</h2>

        <a href="/api/cart/{{cart._id}}/purchase" class="purchase-button">Purchase</a>
        <a href="/api/products" class="go-back-button">Go Back</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const deleteButtons = document.querySelectorAll(".removeProductButton");

      deleteButtons.forEach((button) => {
        button.addEventListener("click", async () => {
          try { 
            const productId = button.getAttribute("data-product-id");
            const cartId = button.getAttribute("cart-id");

            const response = await fetch(`/api/cart/${cartId}/delete/${productId}`, {
              method: "DELETE",
            });

            if (response.ok) {
              
              alert("Product deleted!");
              window.location.reload(); 
            } else {
              
              alert("Failed to delete the product.");
            }
          } catch (error) {
            console.error("Error:", error);
          }
    });
  });
});
</script>

</body>
</html>
