<!DOCTYPE html>
<html>
<head>
  <title>Shopping Cart</title>
</head>
<body>
  <h1>Your Shopping Cart</h1>
  <ul>
      
    <p class="pid"> Status:{{status}}</p>
  

    {{#each products}}
      <li>
        <h3>{{pid.title}}</h3>
        <p>Price: ${{pid.price}}</p>
        <p>Quantity: {{this.quantity}}</p>
        <p>Description: {{pid.description}}</p>
        <p>Category: {{pid.category}}</p>
        <p>Status: {{pid.status}}</p>
        <p>Stock: {{pid.stock}}</p>
        <img src="{{pid.thumbnail}}" alt="{{this.products.name}}">
      </li>
    {{/each}}
  </ul>
</body>
</html>
