<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deleted Users</title>
</head>
<body>
  <h1>Deleted Users</h1>
  {{#if deletedUsers.length}}
    <ul>
      {{#each deletedUsers}}
        <li>
          <strong>{{first_name}} {{last_name}}</strong> - {{email}} - Last Connection: {{lastConnection}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No deleted users found.</p>
  {{/if}}
</body>
</html>