<main class="mx-2" id="main">
    {{#if user}}
        {{#if user.last_name}}
            <h1>Bienvenido {{user.first_name}} {{user.last_name}}!</h1>
            {{else}}
            <h1>Bienvenido {{user.first_name}}!</h1>
        {{/if}}

        {{#if user.age}}
            <h1>Age: {{user.age}}</h1>
        {{/if}}
        <h1>Email: {{user.email}}</h1>
        <h1>Rol: {{user.rol}}</h1>
        <h1>
            <form action="/api/carts/{{@root.cartId}}" method="get">
                <button type="submit" class="btn btn-danger">Ir al carrito</button>
            </form>
        </h1>
        {{else}}
            <h2>Please, log in to purchase any product!</h2>
    {{/if}}



    <h1>Products</h1>

    <div class="d-flex flex-row flex-wrap justify-content-center">
        {{#if totalProducts}}
            {{#each totalProducts.docs}}
                <div class="bg-light card m-2" style="width: 16rem;">
                    <img src="{{thumbnail}}" class="card-img-top p-3" width="254px" height="254px" alt="{{title}}">
                    <div class="card-body text-dark">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}</p>
                        <p class="card-text">${{price}}</p>
                        <p class="card-text">Total stock:   {{stock}}</p>
                        {{#if @root.cartId}}
                            <form action="/api/carts/{{@root.cartId}}/product/{{id}}" id="submit" method="post">
                                <button type="submit" class="btn btn-secondary mb-2">Add to cart</button>
                            </form>
                        {{/if}}
                            <form action="/api/products/delete/{{id}}" method="get">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
    <div class="d-flex justify-content-center my-3">
        {{#if totalProducts.hasPrevPage}}
            <button class="btn btn-primary mx-2">
                <a class="text-decoration-none text-white" href="{{totalProducts.prevLink}}">Anterior</a>
            </button>
        {{/if}}
        {{#if totalProducts.hasNextPage}}
            <button class=" btn btn-primary text-white">
                <a class="text-decoration-none text-white" href="{{totalProducts.nextLink}}">Siguiente</a>
            </button>
        {{/if}}
    </div>

</main>


