<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body { background-color: #e8eff5; /* Fondo principal */ color: #495057; /*
      Texto principal */ } .container { margin-top: 4rem; } h1 { color: #4794e6;
      text-align: center; } h2 { color: darkgrey; } h3.display-4 { color: grey;
      margin-bottom: 2rem; } .filter-form { margin-top: 1rem; display: flex;
      justify-content: center; align-items: center; } .filter-form select {
      width: 60%; margin-right: 5%; color: darkgrey; border-radius: 10px; }
      .load-button { margin-left: 2%; width: auto; border-radius: 12px;
      background-color: #4794e6; color: #fff; } .pagination-container {
      margin-top: 1rem; width: 20%; } .pagination a { text-decoration: none;
      color: darkgrey; /* Azul primario */ border-radius: 8px; } .row {
      margin-right: 1rem; width: 100%; } .product-card { border: none;
      border-radius: 20px; background-color: #fae9e3; /* Fondo de la tarjeta */
      margin: 1rem; height: 100%; width: 100%; box-shadow: 0 4px 8px rgba(104,
      63, 1, 0.253); } .product-card img { width: 100%; height: 300px;
      border-radius: 15px 15px 0 0; } .product-card .card-title { font-size:
      1.25rem; font-weight: 700; text-decoration: none; color: #4794e6; /* Azul
      primario */ } .product-card .card-text { overflow: hidden; text-overflow:
      ellipsis; white-space: nowrap; color:grey; } .quantity-form { display:
      flex; align-items: center; } .quantity-input { margin-left: 3%; width:
      3rem; border-radius: 10px; } .add-to-cart-btn, .details-btn { margin-top:
      1rem; border-radius: 12px; } .add-to-cart-btn { background-color: #3cb371;
      /* Verde de éxito */ color: #fff; /* Texto blanco */ } .details-btn {
      background-color:#eee0b9; /* Amarillo de advertencia */ color: #495057; /*
      Texto secundario */ }
    </style>
  </head>

  <body>

    <div class="containerPrincipal">
      <h1 class="display-3">Products</h1>
      <h2 class="text-center display-4">Welcome
        {{user.rol}}:
        {{user.first_name}}
        {{user.last_name}}</h2>

      <div class="container">
        <div class="row">
          <form id="formulario" class="filter-form">
            <div class="form-group col-md-3">
              <select class="form-control" id="query-limit">
                <option value="">Products per Page</option>
                <option value="10">10</option>
                <option value="24">24</option>
                <option value="50">50</option>
              </select>
            </div>

            <div class="form-group col-md-3">
              <select name="sort-select" id="sort-select" class="form-control">
                <option value="1">Min price Up</option>
                <option value="-1">Max price Up</option>
              </select>
            </div>

            <div class="form-group col-md-3">
              <select name="category" id="category-select" class="form-control">
                <option value="">All Categories</option>
                {{#each categories}}
                  <option value={{this}}>{{this}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group col">
              <button
                type="submit"
                class="btn btn-primary load-button"
              >Load</button>
            </div>
          </form>
          <nav aria-label="Page navigation" class="pagination-container">
            <div class="pagination justify-content-center">
              <h3 class="row-6">Page:</h3>
              <div class="page-item col-4">
                {{#if productsPrev}}
                  <a
                    class="page-link"
                    href="{{productsPrev}}"
                    aria-label="Anterior"
                  >
                    <span aria-hidden="true">&laquo;{{prevPage}}</span>
                  </a>
                {{/if}}
              </div>
              <div class="page-item col-4">
                {{#if productsNext}}
                  <a
                    class="page-link"
                    href="{{productsNext}}"
                    aria-label="Siguiente"
                  >
                    <span aria-hidden="true">&raquo;{{nextPage}}</span>
                  </a>
                {{/if}}
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="row">
        {{#each products.docs}}

          <div class="col-md-3 p-3">
            <div class="card product-card">
              <img class="card-img-top" src="{{thumbnail}}" alt="{{name}}" />
              <div class="card-body">
                <h4><a
                    href="/api/products/{{_id}}"
                    class="card-title"
                  >{{{title}}}</a></h4>
                <p class="card-text text-truncate">{{description}}</p>
                <p class="card-text">${{price}}</p>
                <form
                  action="/api/cart/{{@root.user.cartId}}/products/{{_id}}"
                  method="POST"
                >
                  <input
                    type="hidden"
                    name="products[0][item]"
                    value="{{_id}}"
                  />
                  <div class="quantity-form">
                    <p class="card-text">Quantity:</p>
                    <input
                      type="number"
                      name="quantity"
                      value="1"
                      min="1"
                      max="100"
                      class="form-control quantity-input"
                    />
                  </div>
                  <button type="submit" class="btn add-to-cart-btn">Add to Cart</button>
                  <a href="/api/products/{{_id}}" class="btn details-btn">View
                    Details</a>
                </form>
              </div>
            </div>
          </div>

        {{/each}}
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap"></script>

    <script>
      const formulario = document.getElementById('formulario');
      formulario.addEventListener('submit', function (event) {
      event.preventDefault(); const limit =
      document.getElementById('query-limit').value; const sortOrder =
      document.getElementById('sort-select').value; const category =
      document.getElementById('category-select').value; const url =
      `/api/products?limit=${limit}&sort=${sortOrder}&category=${category}`;
      window.location.href = url; });

    </script>
  </body>
</html>