<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{product.name}} Details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    .container {
      margin-top: 20px;
    }

    .product-details {
      background-color: rgba(82, 90, 5, 0.773);
      color: antiquewhite;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .product-details h2 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    .product-details img {
      max-width: 100%;
      height: auto;
      border: 5px solid antiquewhite;
      border-radius: 10px;
    }

    .card-title {
      font-size: 24px;
      margin-top: 20px;
    }

    .product-info {
      margin-top: 20px;
    }

    .product-info p {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .quantity-input {
      width: 80px;
    }

    .add-to-cart-btn {
      background-color: #b38f59;
      color: antiquewhite;
      margin-top: 20px;
    }

    .add-to-cart-btn:hover {
      background-color: #9d754b;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="product-details">
      <h2>{{product.name}} Details</h2>
      <div class="row">
        <div class="col-md-4">
          <img src="{{product.thumbnail}}" alt="{{product.name}}">
        </div>
        <div class="col-md-8">
          <p class="card-title">{{product.title}}</p>
          <div class="product-info">
            <p>Description: {{product.description}}</p>
            <p>Category: {{product.category}}</p>
            <p>Stock: {{product.stock}}</p>
            <p>Price: ${{product.price}}</p>
            <div class="row">
              <label for="quantityInput" class="col-sm-2 mt-2">Quantity:</label>
              <input type="number" id="quantityInput" value="1" min="1" class="col-sm-1 mt-2 form-control quantity-input">
            </div>
            <button class="btn add-to-cart-btn" id="addToCartButton">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</body>
</html>
