<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: aliceblue;
        }

        .container {
            margin-top: 4rem;
        }

        .pagination {
            max-width: 20%;
            margin: 0 auto;
        }

        .pagination a {
            text-decoration: none;
        }

        .filter-form {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .filter-form select {
            width: 100%;
            margin-right: 10px;
        }

        .product-card {
            border: none;
            border-radius: 15px;
            background-color: rgba(82, 90, 5, 0.773);
            color: antiquewhite;
            margin: 1rem;
            height: 100%;
            width: 100%;
        }

        .product-card img {
            width: 100%;
            height: 300px;
        }

        .product-card .card-title {
            font-size: medium;
            font-weight: 700;
            text-decoration: none;
        }

        .product-card .card-text {
            text-truncate: ellipsis;
        }

        .quantity-form {
            display: flex;
            align-items: center;
        }

        .quantity-input {
            width: 5rem;
        }

        .add-to-cart-btn {
            background-color: rgb(5, 107, 5);
            color: antiquewhite;
            margin-top: 1rem;
        }

        .details-btn {
            background-color: #b38f59;
            color: antiquewhite;
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Products</h2>
<h3 class="text-center display-4">Welcome {{user.rol}}: {{user.first_name}} {{user.last_name}}</h3>

<div class="container">
    <div class="row">
        <form id="formulario" class="filter-form">
            <div class="form-group col-md-3">
                <select class="form-control" id="query-limit">
                    <option value="">Products per Page</option>
                    <option value="10">10</option>
                    <option value="24">24</option>
                    <option value="50">50</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <select name="sort-select" id="sort-select" class="form-control">
                    <option value="1">Min price Up</option>
                    <option value="-1">Max price Up</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <select name="category" id="category-select" class="form-control">
                    <option value="">All Categories</option>
                    {{#each categories}}
                    <option value={{this}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col">
                <button type="submit" class="btn btn-primary load-button">Load</button>
            </div>

        </form>
        <nav aria-label="Page navigation" class="pagination-container">
                <div class="pagination justify-content-center">
                    <h6 class="row-6">Page:</h6>
                    <div class="page-item col-4">
                        {{#if productsPrev}}
                        <a class="page-link" href="{{productsPrev}}" aria-label="Anterior" style="color: black;">
                            <span aria-hidden="true">&laquo;{{prevPage}}</span>
                        </a>
                        {{/if}}
                    </div>
                    <div class="page-item col-4">
                        {{#if productsNext}}
                        <a class="page-link" href="{{productsNext}}" aria-label="Siguiente" style="color: black;">
                            <span aria-hidden="true" >&raquo;{{nextPage}}</span>
                        </a>
                        {{/if}}
                    </div>
                </div>
            </nav>
    </div>
</div>

    <div class="row">
        {{#each products.docs}}
        
        <div class="col-md-3 p-3">
            <div class="card product-card">
                <img class="card-img-top" src="{{thumbnail}}" alt="{{name}}">
                <div class="card-body">
                    <a href="/api/products/{{_id}}" class="card-title">{{{title}}}</a>
                    <p class="card-text text-truncate">{{description}}</p>
                    <p class="card-text">${{price}}</p>
                    <form action="/api/cart/{{@root.user.cartId}}/products/{{_id}}" method="POST">
                        <input type="hidden" name="products[0][item]" value="{{_id}}" />
                        <div class="quantity-form">
                            <p class="card-text">Quantity:</p>
                            <input type="number" name="quantity" value="1" min="1" max="100" class="form-control quantity-input">
                        </div>
                        <button type="submit" class="btn add-to-cart-btn">Add to Cart</button>
                        <a href="/api/products/{{_id}}" class="btn details-btn">View Details</a>
                    </form>
                </div>
            </div>
        </div>
      
        {{/each}}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
   const formulario = document.getElementById('formulario');

formulario.addEventListener('submit', function (event) {
    event.preventDefault(); // Prevent the default form submission

    // Get the values of the selection fields
    const limit = document.getElementById('query-limit').value;
    const sortOrder = document.getElementById('sort-select').value;
    const category = document.getElementById('category-select').value;

    // Build the URL with query parameters
    const url = `/api/products?limit=${limit}&sort=${sortOrder}&category=${category}`;

    // Redirect to the new URL
    window.location.href = url;
});

</script>
</body>
</html>
