
<body style="background-color: aliceblue;";>
  

<h2>Products</h2>
<a href="/form-products">Agregar Producto</a>
<h3 class="text-center display-2">Welcome {{user.rol}}: {{user.first_name}} {{user.last_name}} </h3>
<div class="row"> 
 <form id="formulario">
    <select type="number" id="query-limit">
          <option value="">Products per Page</option>
          <option value="{{limit}}">10</option>
          <option value="{{limit}}">25</option>
          <option value="{{limit}}">50</option>
    </select>
  <div class="pagination">
        <span>Page {{products.products.page}} of {{products.products.totalCompraPages}}</span>
        {{#if hasPrevPage}}
            <a href="?page={{prevPage}}">Anterior</a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="?page={{nextPage}}">Siguiente</a>
        {{/if}}
    </div>
  <input type="hidden" name="sort-order" id="sort-order" value="-1">
  <button type="submit">Cargar</button>
  <select name="sort-select" id="sort-select">
    <option value="ascendente">Min price Up</option>
    <option value="descendente">Max price Up</option>
  </select>

  <select name="category" id="category-select">
    <option value="">Todas las categorías</option>
    {{#each categories}}
      <option value="{{category}}">{{this}}</option>
    {{/each}}
  </select>
</form>

  </div>
<div class="row">
  {{#each products.products.docs}}
  <div class="col-sm-3 p-3">
    <div class="card" >
      <img class="card-img-top" style="width: auto; height:300px;"; src="{{thumbnail}}" alt="{{name}}">
      <div class="card-body" style="background-color: rgb(6, 27, 25); color:white " >
        <h5 class="card-title display-8">{{{title}}}</h5>
        <p class="card-text text-truncate" >{{description}}</p>
        <a href="/products/{{_id}}" class="btn btn-primary">Ver detalles</a>

    <form action="/api/cart/{{@root.cartId}}/products/{{_id}}"  method="POST">
      <input type="hidden" name="products[0][item]" value="{{_id}}">
      <input type="number" name="quantity" value="1" min="1" max="100">
      <button type="submit" class="btn btn-success">Agregar al carrito</button>
    </form>
  

      </div>
    </div>
  </div>
  {{/each}}
</div>
<script>
   const sortOrderSelect = document.getElementById('sort-select');
  const sortOrderHiddenInput = document.getElementById('sort-order');

  sortOrderSelect.addEventListener('change', () => {
    const selectedValue = sortOrderSelect.value;
    const sortOrder = selectedValue === 'ascendente' ? 1 : selectedValue === 'descendente' ? -1 : 0;
    sortOrderHiddenInput.value = sortOrder;
  });

  document.getElementById('formulario').onsubmit = (e) => {
    e.preventDefault();
    const limit = document.getElementById('query-limit').value;
    const page = document.getElementById('query-page').value;
    const sortOrder = sortOrderHiddenInput.value;
    const categorySelect = document.getElementById('category-select');
    const category = categorySelect.value;

    const url = `/api/products?limit=${limit}&page=${page}&sort=${sortOrder}&query=category,${category}`;
    window.location.href = url;
  };
  </script>
</body>