<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{product.name}} Details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    .container {
      margin-top: 20px;
    }

    .product-details {
      
      color: black;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .product-details h2 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    .product-details img {
      max-width: 100%;
      height: auto;
      border: 5px solid #b38f59;;
      border-radius: 10px;
    }

    .card-title {
      font-size: 24px;
      margin-top: 20px;
    }

    .product-info {
      margin-top: 20px;
    }

    .product-info p {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .quantity-input {
      width: 80px;
    }

    .add-to-cart-btn {
      background-color: #b38f59;
      color: antiquewhite;
      margin-top: 20px;
    }

    .add-to-cart-btn:hover {
      background-color: #9d754b;
    }
  </style>
</head>
<body>
  <div class="user">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="welcome">Welcome, {{user.first_name}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="product-details">
      <h2>{{product.name}} Details</h2>
      <div class="row">
        <div class="col-md-4">
          <img src="{{product.thumbnail}}" alt="{{product.name}}">
        </div>
        <div class="col-md-8">
          <p class="card-title">{{product.title}}</p>
          <div class="product-info">
            <p>Description: {{product.description}}</p>
            <p>Category: {{product.category}}</p>
            <p>Status: <span class="{{#if product.status}}in-stock{{else}}out-of-stock{{/if}}">
                {{#if product.status}}<p>Stock: {{product.stock}}</p>{{else}}Out of Stock{{/if}}
            </span></p>
            <p>Price: ${{product.price}}</p>
            <p>stock: ${{product.stock}}</p>
            {{#if product.status}}
            <form action="/api/cart/{{user.cartId}}/products/{{product._id}}" method="POST">
                        <input type="hidden" name="products[0][item]" value="{{_id}}" />
                        <div class="quantity-form">
                            <p class="card-text">Quantity:</p>
                            <input type="number" name="quantity" value="1" min="1" max="100" class="form-control quantity-input">
                        </div>
                        <button type="submit" class="btn add-to-cart-btn">Add to Cart</button>
                        <a href="/api/products/{{_id}}" class="btn details-btn">View Details</a>
              </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
   const formulario = document.getElementById('formulario');

    formulario.addEventListener('submit', function (event) {
    event.preventDefault();

    const limit = document.getElementById('query-limit').value;
    const sortOrder = document.getElementById('sort-select').value;
    const category = document.getElementById('category-select').value;
    const url = `/api/products?limit=${limit}&sort=${sortOrder}&category=${category}`;
    window.location.href = url;
});

</script>
</body>
</html>
