<!-- productDetails.handlebars -->
<h2>{{product.name}}</h2>
<img src="{{product.image}}" alt="">
<p>Description: {{product.description}}</p>
<p>Category: {{product.category}}</p>
<p>Price: ${{product.price}}</p>
<!-- Agregar más detalles del producto si es necesario -->
<a href="#" class="btn btn-primary">Agregar al carrito</a>
