<!-- views/products.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <title>Search Result</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
        }

        h1 {
            color: #333;
        }

        .ul2 {
            list-style: none;
            padding: 0;
        }

        .li2 {
            background-color: #fff;
            border: 1px solid #ddd;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 2px 2px 5px #aaa;
        }

        h2 {
            color: #333;
            font-size: 1.5em;
        }

        p {
            margin: 5px 0;
        }

        .in-stock {
            color: green;
        }

        .out-of-stock {
            color: red;
        }

        img {
            max-width: 100%;
            max-height: 100px;
            border: 1px solid #ddd;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>Results:</h1>
    <ul class="ul2">
        {{#each products}}
        <li class="li2">
            <h2>{{title}}</h2>
            <p>Description: {{description}}</p>
            <p>Code: {{code}}</p>
            <p>Price: ${{price}}</p>
            <p>Status: <span class="{{#if status}}in-stock{{else}}out-of-stock{{/if}}">
                {{#if status}}In Stock{{else}}Out of Stock{{/if}}
            </span></p>
            <p>Stock: {{stock}}</p>
            <p>Category: {{category}}</p>
            <img src="{{thumbnail}}" alt="{{title}}">
        </li>
        {{/each}}
    </ul>
</body>
</html>
