<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket List</title>
    <style>
        body {
            
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #333;
            color: #fff;
            padding: 15px 0;
            text-align: center;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .list {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 20px auto;
            max-width: 500px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        p {
            margin: 0;
            line-height: 1.5;
        }

        .ticket-code {
            font-weight: bold;
        }

        .purchase-date {
            font-weight: bold;
        }

        .amount {
            font-weight: bold;
        }

        .purchaser {
            font-weight: bold;
        }

        ul.product-list {
            margin-top: 15px;
            padding-left: 20px;
        }

        li.product {
            list-style-type: disc;
        }
    </style>
</head>
<body>
    <h1>Ticket List</h1>
    <ul>
        {{#each this}}
        <li class="list">
            <p class="ticket-code"><strong>Ticket Code:</strong> {{code}}</p>
            <p class="purchase-date"><strong>Purchase Date:</strong> {{purchase_datetime}}</p>
            <p class="amount"><strong>Amount:</strong> ${{amount}}</p>
            <p class="purchaser"><strong>Purchaser:</strong> {{purchaser}}</p>
            <ul class="product-list">
                <li class="product list"><strong>Products:</strong>
                    <ul>
                        {{#each products}}
                        <h2 class="list">Item: {{this.title}}</h2>
                        <li class="list"><strong>Code:</strong> {{this.code}}</li>
                        <li class="list"><strong>Quantity:</strong> {{this.quantity}}</li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
        </li>
        {{/each}}
    </ul>
</body>
</html>
