<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users In DB</title>
</head>
<body>

    <h1>Users In DB</h1>
    {{#if users.length}}
        <ul>
            {{#each users}}
                <li>
                    <strong>{{first_name}} {{last_name}}</strong> - {{email}} - CartID: {{cartId}} - Role: {{rol}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No users found.</p>
    {{/if}}
</body>
</html>